header{
    text-align: center;
    
}
table,th,td,tr{
    border: 1px solid black;
    /* border-collapse: none; */
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
body{
    background-color: rgb(107, 68, 17);
}
.head{
    background-color: rgb(12, 189, 189);
}
.body{
    background-color: rgb(195, 195, 161);
}
.resume{
    margin-left: 50px;
    margin-right: 50px;
    display:inline-block;
    /* padding:50px; */
    margin:50px 50px;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* background-color: aqua ; */
}